!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Louise Photographer ช่างภาพ ถ่ายรูปรับปริญญา ถ่ายรูปงานแต่ง
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css')
    link(rel='stylesheet', href='/bootstrap-image-gallery/css/bootstrap-image-gallery.min.css')
    link(rel="shortcut icon", href='/pics/favicon.png')
  body
    block body